@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Varela+Round&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
  
*{
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
    z-index: 1;
    user-select: none;
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
}

section{
    width: 100vw;
    height: 95vh;   
}